<template>
<section >
   <div class="container mt-5">
    <h1>Login</h1>
    <div id="login" class="d-flex justify-content-center">

      <div class="row mt-4">
        <form @submit.prevent="enviar">
          <div class="form-group row  col-8">
              <label for="email">Email: <i class="fa fa-user-circle-o" aria-hidden="true"></i></label>
              <input required type="text" id="email" v-model="UserLogin.email" class="form-control">
              <label for="password">Password: <i class="fa fa-unlock-alt" aria-hidden="true"></i></label>

              <div class="input-group mb-3">
                   <input  :type="`${texto}`" id="password" v-model.trim="UserLogin.password" class="form-control" autocomplete="password" required>
                      <div class="input-group-append">
                         <button class="btn btn-info" type="button"><i class="fa fa-eye" @click="mostrarPass(texto)"></i></button>
                      </div>
              </div>
              <input type="submit" value="Logearse" class="btn btn-primary mt-2">
              <!-- <button id="registro" type="button" class="btn btn-warning mt-2">Registrarse</button> --><hr>
              <router-link class="btn btn-warning mt-2" active-class="active" to="/registro"> Ir a Registrarse</router-link>
          </div>

          </form>

      </div>
    </div>
    </div>

    <Mensaje v-if="mensaje" class="mensaje" :mensaje="mensaje" @close="closeAlert()"></Mensaje>
    <!-- <Mensaje v-if="mensaje1" class="mensaje" :mensaje1="mensaje1" @close="closeAlert()"></Mensaje> -->
  <!-- </div> -->
</section>

</template>

<script>
import * as ApiService from "../services/ApiService.js";
import { mapMutations } from "vuex";
import Mensaje from "../components/Mensaje";
import * as Cookie from "../cookie/cookie.js";

export default {
  components: {
    Mensaje
  },
  data() {
    return {
      UserLogin: {
        email: null,
        password: null,
      },
      mensaje: null,
      texto: "password",
      // mensaje1:null,
    };
  },
  methods: {
    closeAlert() {
      this.mensaje = null;
    },
    mostrarPass(texto){
        return texto == "password" ? this.texto = "text" : this.texto = "password";
    },
    enviar() {
      console.log("USER", this.UserLogin);
      ApiService.urllogin(this.UserLogin)
        .then(res => {

          console.log("REEEEEEEEEEEEEEEs", res);
          console.log("REEEEEEEEEEEEEEEs111111111111", this.UserLogin.email);

          this.$store.commit("setToken", res.data.token);
          this.$store.commit("setUserNameStore", res.data.name);                         // Asignamos el token a vuex
          this.$store.commit("setUserEmailStore", this.UserLogin.email);
          this.$store.commit("setUserPasswordStore", this.UserLogin.password);
          console.log(this.$store.state.user_token);

          Cookie.inicializarCookie(       // Generamos la cookie
            this.UserLogin.email,
            this.UserLogin.password
          );

          this.$router.push("/user");
        })
        .catch(err => {
          console.error("ERROOOOOR", err);

          this.mensaje = "Su contraseña  o  Email no es correcto!!";
        });
    }
  }
};
</script>

<style scoped>
/* section {
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/underwater-css-pattern.png");
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
} */
.mensaje {
  position: absolute;
  top: 6%;
  right: 2px;
}
h1{
margin-left: 35%;
}

#login{
  margin-left: 10%;
}
</style>
