<template>
  <div class="container">
    <center>
      <h1  v-text="$ml.get('privilegios')"></h1>
    </center>
    <hr>
    <div class="d-flex justify-content-end">
      <router-link to="add" append class="btn btn-warning mb-4 col-2"> <I class="fa fa-plus"  v-text="$ml.get('anadir')"></I> </router-link>
    </div>
  <ul class="list-group" v-for="(privi,i) in privilegios" :key="i">
      <li class="list-group-item d-flex justify-content-between align-items-center  row col-12">
      <span class="col-4"> <I> Privilegio: {{privi.name}} </I></span>
        <button  type="button" class="btn btn-danger btn-sm  row  col-2">  <i class="fa fa-trash-o"  v-text="$ml.get('eliminar')"></i></button>
        <router-link  class="btn btn-primary btn-sm float-right  row col-2" :to="`update/${privi.id_privilegio}`" append> <i class="fa fa-pencil"  v-text="$ml.get('editar_roles')"></i></router-link>

      </li>
    </ul>
    <router-view></router-view>
    <Mensaje class="mensaje" v-if="mensaje" :clase_alert="clase" :mensaje="mensaje" @close="closeAlert()"></Mensaje>
  </div>
</template>

<script>
import * as ApiService from "../services/ApiServicePrivilege.js";
import * as ApiServiceUser from "../services/ApiService.js";
import Mensaje from "../components/Mensaje";

export default {
  components: {
    Mensaje
  },
  data() {
    return {
      privilegios: null,
      mensaje: null,
      clase: null
    };
  },
  methods: {
    closeAlert() {
      this.mensaje = null;
    }
  },
  mounted() {
    let p = JSON.parse(document.cookie);
    console.log(p.name);
    console.log(p.password);

    ApiServiceUser.urllogin(p)
      .then(res => {
        console.log("REEEEEEEEEEEEEEEs", res);
        // console.log("REEEEEEEEEEEEEEEs111111111111", this.UserLogin.name);
        //alert("todo correcto");
        this.$store.commit("setToken", res.data.token);
        this.$store.commit("setUserEmailStore", p.email);
        this.$store.commit("setUserPasswordStore", p.password);
        console.log(this.$store.state.user_token);
        console.log("STORENAME", this.$store.state.user_email);
        console.log(this.$store.state.user_password);
        // this.mensaje1="Acceso Correcto";
        this.$router.push("/privilege");
      })
      .catch(err => {
        console.error("ERROOOOOOR LOG", err);
        //alert("Sucedio un error, mire la consola")
      })
      .then(() => {
        ApiService.getAllPrivilege()
          .then(res => {
            this.privilegios = res.data;
          })
          .catch(error => {
            console.error(error);
            this.mensaje="No tiene rol para ver los privilegios, contacte con el administrador";
            this.clase = "danger";
            //alert("ERROR obtener privilegios");
          });
      });

    // ApiService.getAllPrivilege()
    //   .then(res => {
    //     this.privilegios = res.data;
    //   })
    //   .catch(error => {
    //     console.error(error);
    //     alert("ERROR obtener privilegios");
    //   });
  }
};
</script>

<style scoped>
.mensaje{
  position: absolute;
  right: 2px;
  top: 8%;
}
</style>
