<template>
<section >
  <div class="container mt-5">
    <h1>Registrarse</h1>
    <div id="registro" class="d-flex justify-content-center">
  <form @submit.prevent="enviar">
    <div class="form-group row col-10 mt-4">
        <label for="nombre">Nombre: <i class="fa fa-user-circle-o" aria-hidden="true"></i></label>
        <input required type="text" id="nombre" v-model="UserRegistro.name" class="form-control">
        <label for="email">Email: <i class="fa fa-envelope" aria-hidden="true"></i></label>
        <input required type="text" id="email" v-model="UserRegistro.email" class="form-control">
        <input type="submit" value="Registrarse" class="btn btn-primary mt-2" >
              <!-- <button id="registro" type="button" class="btn btn-warning mt-2">Registrarse</button> --><hr>
              <router-link class="btn btn-warning mt-2" active-class="active" to="/login"> Ir a Login</router-link>
    </div>
    </form>
    </div>
  </div>
    <Mensaje v-if="mensaje" :clase_alert="texto" :mensaje="mensaje" @close="closeAlert()"></Mensaje>

</section>
</template>

<script>

import * as ApiService from '../services/ApiService.js';
import Mensaje from '../components/Mensaje';

export default {
  components: {
    Mensaje
  },
  data() {
    return {
      UserRegistro: {
        name: null,
        email: null,
      },
      mensaje: null,
      texto:"danger",
    };
  },
  methods: {
    closeAlert() {
      this.mensaje = null;
    },
    enviar() {
      console.log("Envia");
      console.log("USER", this.UserRegistro);
      ApiService.urlregister(this.UserRegistro)
        .then(res => {

          console.log("REEEEEEEEEEEEEEEs", res);
          console.log("REEEEEEEEEEEEEEEs111111111111", this.UserRegistro.email)
          this.mensaje = "Se ha enviado un correo a su direccion electronica";
          this.texto="success"
        })
        .catch(err => {
          console.error("ERROOOOOR", err);
          this.mensaje = "A sucedido un error!!";
          this.texto="danger";
        });
    }
  }
};
</script>

<style scoped>
/* section{
    background-image: url("https://freefrontend.com/assets/img/css-background-patterns/underwater-css-pattern.png");
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
  } */
  h1{
margin-left: 35%;
}

#registro{
  margin-left: 5%;
}
</style>
