<template>
  <div class="container">
    <center>
    <h1 v-text="$ml.get('roles')"></h1>
    </center>
    <hr>
    <div class="d-flex justify-content-end">
    <router-link to="add" append class="btn btn-warning mb-4 col-2"> <I class="fa fa-plus mr-2" v-text="$ml.get('anadir')"></I> </router-link>
    </div>
    <ul class="list-group" v-for="(rol,i) in roles" :key="i">
      <li class="list-group-item d-flex justify-content-between align-items-center  row col-12">
      <span class="col-4"> <I> Rol: {{rol.name}} </I></span>
        <button  type="button" class="btn btn-danger btn-sm  row  col-3" @click="eliminar(rol.id_rol)"> <i class="fa fa-trash-o ml-2" v-text="$ml.get('eliminar')"></i></button>
        <router-link  class="btn btn-primary btn-sm float-right  row col-3" :to="`update/${rol.id_rol}`" append> <i class="fa fa-pencil ml-2" v-text="$ml.get('editar_roles')"></i></router-link>
      </li>
    </ul>

    <router-view></router-view>
    <Mensaje class="mensaje" v-if="mensaje" :mensaje="mensaje" @close="closeAlert()" ></Mensaje>
  </div>

</template>
<script>
import * as ApiService from "../services/ApiServiceRol.js";
import * as ApiServiceUser from "../services/ApiService.js"
import Mensaje from "../components/Mensaje";
export default {
  components: {
    Mensaje
  },
  created() {
     let p = JSON.parse(document.cookie);
    console.log(p.email);
    console.log(p.password);

    ApiServiceUser.urllogin(p)
      .then(res => {
        console.log("REEEEEEEEEEEEEEEs", res);
        // console.log("REEEEEEEEEEEEEEEs111111111111", this.UserLogin.name);
        //alert("todo correcto");
        this.$store.commit("setToken", res.data.token);
        this.$store.commit("setUserEmailStore", p.email);
        this.$store.commit("setUserPasswordStore", p.password);
        console.log(this.$store.state.user_token);
         console.log("STORENAME",this.$store.state.user_name);
          console.log(this.$store.state.user_password);
        // this.mensaje1="Acceso Correcto";
        this.$router.push("/roles");
      })
      .catch(err => {
        console.error("ERROOOOOOR LOG", err);
        //alert("Sucedio un error, mire la consola")
      })
      .then(() => {
        ApiService.getAllRoles()
          .then(res => {
            this.roles = res.data;
          })
          .catch(err => {
            this.mensaje=" No tiene permisos para modificar roles, contacte con el administrador";
            console.log(err);
          });
      });


      // ApiService.getAllRoles()
      //     .then(res => {
      //       this.roles = res.data;
      //     })
      //     .catch(err => {
      //       console.log(err);
      //     });
  },
  data() {
    return {
      roles: null,
      mensaje: null
    };
  },
  methods: {
    closeAlert(){
      this.mensaje = null;
    },
    eliminar(id) {
      ApiService.deleteRol(id)
        .then(res => {
          alert("Todo correcto");
          this.roles.splice(this.roles.findIndex(e => (e.id_rol = id)), 1);
        })
        .catch(err => {
          console.error(err);
          this.mensaje = "No tiene permisos para eliminar, contacte con el administrador";
        });
    }
  }
};
</script>
<style scoped>
.mensaje {
  position: absolute;
  top: 8%;
  right: 2px;
}
</style>
