<template>
<div class="container">
    <center><h1 v-text="$ml.get('usuario')"></h1></center>
    <hr>
    <div class="d-flex justify-content-end">
    <router-link to="add" append class="btn btn-warning mb-3 mr-2 col-2" ><I class="fa fa-plus" v-text="$ml.get('anadir')"></I>  </router-link>
    </div>

  <ul class="list-group" v-for="(usuario,i) in usuarios" :key="i">
      <li class="list-group-item d-flex justify-content-between align-items-center  row col-12">
          <I class="row">
            <span class="col-12" ><strong> Usuario: </strong> {{usuario.name}}</span>
            <span class="col-12" ><strong> Email:</strong> {{usuario.email}}</span>
            <!-- <span class="col-12" ><strong> Password: </strong> {{usuario.password}}</span> -->
          </I>
            <button  type="button" class="btn btn-danger btn-sm col-2 p-2 m-2 " @click="eliminar(usuario.id)"> <i class="fa fa-trash-o" v-text="$ml.get('eliminar')"></i></button>
            <router-link  class="btn btn-primary btn-sm row col-2 p-2 m-2 " :to="`update/${usuario.id}`" append> <i class="fa fa-pencil" v-text="$ml.get('editar_roles')"></i></router-link>
      </li>
    </ul>
    <router-view></router-view>
    <Mensaje :clase_alert="clase" class="mensaje" v-if="mensaje" :mensaje="mensaje" @close="closeAlert()"></Mensaje>
</div>

</template>

<script>
import * as ApiService from "../services/ApiService.js";
import { bus } from "../main.js";
import Mensaje from "../components/Mensaje";
import * as Cookie from "../cookie/cookie.js";

export default {
  components: {
    Mensaje
  },
  data() {
    return {
      usuarios: null,
      token: null,
      mensaje: null,
      clase: "info"
    };
  },
  created() {
    let p = JSON.parse(document.cookie);
    console.log(p.email);
    console.log(p.password);

    ApiService.urllogin(p)
      .then(res => {
        console.log("REEEEEEEEEEEEEEEs", res);
        // console.log("REEEEEEEEEEEEEEEs111111111111", this.UserLogin.name);
        //alert("todo correcto");
        this.$store.commit("setToken", res.data.token);
        this.$store.commit("setUserNameStore", res.data.name);
        this.$store.commit("setUserEmailStore", p.email);
        this.$store.commit("setUserPasswordStore", p.password);
        console.log(this.$store.state.user_token);
        console.log("STORENAME", this.$store.state.user_email);
        console.log(this.$store.state.user_password);
        // this.mensaje1="Acceso Correcto";
        this.$router.push("/user");
      })
      .catch(err => {
        console.error("ERROOOOOOR LOG", err);
        //alert("Sucedio un error, mire la consola")
      })
      .then(() => {
        ApiService.allUser()
          .then(res => {
            console.log("Bien", res);
            this.usuarios = res.data;
          })
          .catch(error => {
            console.error("ALL", error);
            this.mensaje =
              " No tiene roles para ver informacion, contacte con el administrador";
            this.clase = "danger";
            //  this.$router.push("/login");
          });
      });

    // ApiService.allUser()
    //   .then(res => {
    //     console.log("Bien", res);
    //     this.usuarios = res.data;
    //   })
    //   .catch(error => {
    //     console.error("ALL",error);

    //     //  this.mensaje=" No tiene roles para ver informacion, contacte con el administrador";
    //     //  this.$router.push("/login");
    //   });
  },
  methods: {
    closeAlert() {
      this.mensaje = null;
    },
    eliminar(id) {
      console.log("Eliminar", id);

      ApiService.deleteUser(id)
        .then(res => {
          console.log("Eliminado correctamente", res);
          this.usuarios.splice(this.usuarios.findIndex(e => e.id == id), 1);
        })
        .catch(error => {
          console.error("Error", error);
          //alert("Mira la consola");
          this.mensaje = "No tiene permisos para eliminar";
        });
    }
  },
  mounted() {
    // ApiService.urllogin(document.cookie)
    //       .then(res => {
    //         console.log("REEEEEEEEEEEEEEEs", res);
    //         //console.log("REEEEEEEEEEEEEEEs111111111111", this.UserLogin.name);
    //         //alert("todo correcto");
    //           let p = JSON.parse(document.cookie);
    //         this.$store.commit("setToken", res.data);
    //         this.$store.commit("setUserNameStore", p.name);
    //         this.$store.commit("setUserPasswordStore", p.password);
    //         console.log("TOKEN",this.$store.state.user_token);
    //         console.log("NAME",this.$store.state.user_name);
    //         console.log("PASS",this.$store.state.user_password);
    //         console.log("NAME", p.name);
    //         // Cookie.inicializarCookie(
    //         //   this.UserLogin.name,
    //         //   this.UserLogin.password
    //         // );
    //         // this.mensaje1="Acceso Correcto";
    //         this.$router.push("/user");
    //       })
    //       .catch(err => {
    //         console.error("ERROOOOOOR", err);
    //         //alert("Sucedio un error, mire la consola")
    //         this.mensaje = "Su contraseña no es correcta!!";
    //       });
  }
};
</script>

<style>
.mensaje {
  position: absolute;
  top: 8%;
  right: 2px;
}
</style>
