<template>
<div>
  <Navbar></Navbar>
  <router-view></router-view>
</div>
</template>

<script>
import NavbarComponent from "../components/Navbar";
import { MLBuilder } from 'vue-multilanguage';

export default {
  components: {Navbar: NavbarComponent }
}
</script>
