<template>
<section>
  <div :class="`alert ${severity}`"  role="alert">
           {{mensaje}}
  </div>
  <!-- <div v-if="mensaje1" class="alert alert-success" role="alert">
      {{mensaje1}}
  </div> -->
</section>
</template>
<script>
export default {
  props: {
    // mensaje1:{
    //   type: String,
    //   required: true,
    // },
    mensaje: {
      type: String,
      required: true,
    },
    clase_alert: {
      type: String,
      default: "danger"
    },
  },
  mounted() {
    setTimeout(()=>{ this.$emit("close")},2000);
  },
  computed:{
    severity(){
      return `alert-${this.clase_alert}`
    }

  }
}
</script>

<style>

</style>
