<template>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F2F5A9">
  <a class="navbar-brand" href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRP1EHKgQkArCPSvTt81fB-Ux1oUzJMc0Pf5iX6IVjzKtWjjmHV" alt="" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <router-link class="nav-item nav-link" active-class="active" to="/user" v-text="$ml.get('usuario')"> </router-link>
      <router-link class="nav-item nav-link" active-class="active" to="/roles" v-text="$ml.get('roles')"></router-link>
      <router-link class="nav-item nav-link" active-class="active" to="/privilege"  v-text="$ml.get('privilegios')"> </router-link>

    </div>
  </div>
   <div class="d-flex justify-content-end">
          <img class=" flag-icon flag-icon-gb flag-icon-squared mr-2" @click="$ml.change($ml.list[0])"  src="" @change="$ml.list[0]" alt="">
          <img class=" flag-icon flag-icon-es flag-icon-squared mr-2"  @click="$ml.change($ml.list[2])"  src="" @change="$ml.list[0]" alt="">
          <img class=" flag-icon flag-icon-pt flag-icon-squared mr-2" @click="$ml.change($ml.list[1])"   src="" @change="$ml.list[0]" alt="">
      </div>
      <b><I class="border border-success p-2 ml-4">Nombre: {{ this.$store.state.user_name | capitalize }}</I></b>
      <!-- <input type="text" v-model="this.$store.state.user_name"> -->
      <button class="btn btn-danger ml-4" @click="closeSesion()">Cerrar Sesión </button>


</nav>
<!-- <div>
  <b-navbar  class="navbar-light blue-grey lighten-5" type="dark" variant="primary" toggleable>
    <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
    <b-collapse is-nav id="nav_dropdown_collapse">
      <b-navbar-nav>
        <router-link class="nav-item nav-link" active-class="active" to="/user" v-text="$ml.get('usuario')"> </router-link>
        <router-link class="nav-item nav-link" active-class="active" to="/roles" v-text="$ml.get('roles')"></router-link>
        <router-link class="nav-item nav-link" active-class="active" to="/privilege"  v-text="$ml.get('privilegios')"> </router-link>
        <div align-v="end">
          <img class=" flag-icon flag-icon-gb flag-icon-squared mr-2" @click="$ml.change($ml.list[0])"  src="" @change="$ml.list[0]" alt="">
          <img class=" flag-icon flag-icon-es flag-icon-squared mr-2"  @click="$ml.change($ml.list[2])"  src="" @change="$ml.list[0]" alt="">
          <img class=" flag-icon flag-icon-pt flag-icon-squared mr-2" @click="$ml.change($ml.list[1])"   src="" @change="$ml.list[0]" alt="">
      </div>
      <b><I class="border border-warning p-2 ml-4">Usuario: {{ name | capitalize }}</I></b>
      <button class="btn btn-danger ml-4" @click="closeSesion()">Cerrar Sesión </button>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div> -->


</template>

<script>
import { store } from "../store/store.js";
import bNavbar from 'bootstrap-vue/es/components/navbar/navbar';
import * as Cookie from "../cookie/cookie.js"
export default {
  components:{
    bNavbar
  },
  data() {
    return {
      name: store.state.user_name || null
    };
  },
  created() {
    this.name = store.state.user_name;
  },
  methods: {
    closeSesion() {
      this.$store.commit("setToken", null);
      Cookie.inicializarCookie(null,null);
      this.$router.push("/login");
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  }
};
</script>

<style scoped>
</style>
