<template>

  <section class="container">
  <h1 v-if="id"  v-text="$ml.get('actualizar')"></h1>
  <h1 v-else  v-text="$ml.get('anadir')"></h1>
  <form @submit.prevent="enviar">
        <label for="nombre"  v-text="$ml.get('nombre')">:</label>
        <input required type="text" id="nombre" v-model="actualPrivilege.name" class="form-control">

        <article class="p-4">
          <p v-for="(rol,i) in  allRoles" :key="i">
            <input type="checkbox" v-model="actualPrivilege.role_privilege" :value="rol">
            <span>{{rol.name}}</span>
          </p>
        </article>
        <input v-if="id" type="submit" :value="$ml.get('actualizar')" class="btn btn-primary">
        <button v-else id="anadir" type="button" class="btn btn-warning" @click="anadir"><i class="fa fa-pencil"  v-text="$ml.get('anadir')"></i></button>
         <router-link to="/privilege" class="btn btn-danger" v-text="$ml.get('atras')"></router-link>
    </form>
    <Mensaje class="mensaje" v-if="mensaje" :mensaje="mensaje" @close="closeAlert()"></Mensaje>
</section>
</template>

<script>
import * as ApiService from "../services/ApiServicePrivilege";
import {getAllRoles} from "../services/ApiServiceRol.js"
import Mensaje from "../components/Mensaje";

export default {
  components: {
    Mensaje
  },
  data() {
    return {
      actualPrivilege: {
        id_privilegio: 0,
        name: null,
        email: null,
        role_privilege:  []
      },
      allRoles:null,
      mensaje: null,
    };
  },
  computed: {
    id() {
      return this.$route.params.id || null;
    }
  },
  methods:{
    closeAlert(){
      this.mensaje = null;
    },
    getPrivilege(id){
      ApiService.findPrivilege(id)
        .then(privi => {
          console.log(privi.data);
          this.actualPrivilege = privi.data;
        })
        .catch(error => {
          console.error(error);
          alert("algo ha fallado");
        });
    },
    enviar(){
      ApiService.updatePrivilege(this.actualPrivilege).then(res =>{
        alert("Actualizaco correctamiente");
        this.$router.push('/privilege')
      }).catch(err =>{
        console.error(err);
        //alert("FALLO ACTUALIZAR PRIVI");
        this.mensaje="No tiene permisos para actualizar";
      })
    },
    anadir(privi){
      ApiService.addPrivilege(this.actualPrivilege).then(res=>{
        this.$router.push('/privilege')
      }).catch(error=>{
        console.error(error);
        //alert('Algo ha fallado, mire la consola')
        this.mensaje="No tiene permisos para añadir";
      })
    }
  },
  mounted() {
    getAllRoles().then(privi=>{
      console.log(privi);
      this.allRoles = privi.data;
    }).catch(error=>{
      console.error(error);
      alert('hubo un error')
    });
    if(this.id){
      this.getPrivilege(this.id);
    }
  },
  watch: {
    id(newId) {
      if(this.id){
        this.getPrivilege(newId)
      }
    }
  }
};
</script>

<style scoped>
.mensaje{
  position: absolute;
  right: 2px;
  top:8%;
}
</style>
