<template>
<div class="container">
  <h1  v-text="$ml.get('actualizar_rol')"></h1>
  <form @submit.prevent="updateRol">
        <label for="nombre" v-text="$ml.get('actualizar')"></label>
        <input required type="text" id="nombre" v-model="Rol.name" class="form-control col-6">
        <input v-if="id" type="submit" :value="$ml.get('actualizar')" class="btn btn-primary mt-2">
        <button v-else class="btn btn-warning mt-2" type="button" @click="add"> <i class="fa fa-pencil" v-text="$ml.get('anadir')"/></button>
         <router-link to="/roles" class="btn btn-danger mt-2" v-text="$ml.get('atras')"></router-link>
    </form>
    <Mensaje :clase_alert="clase" class="mensaje" v-if="mensaje" :mensaje="mensaje" @close="closeAlert()"></Mensaje>
</div>
</template>

<script>
import * as ApiService from "../services/ApiServiceRol.js";
import { getAllPrivilege } from "../services/ApiServicePrivilege.js";
import Mensaje from "../components/Mensaje";

export default {
  components: {
    Mensaje
  },
  computed: {
    id() {
      return this.$route.params.id || null;
    }
  },
  data() {
    return {
      Rol: {
        name: null,
        id: 0
      },
      mensaje: null,
      clase: "info"
    };
  },
  methods: {
    closeAlert(){
      this.mensaje= null;
    },
    getRol(id) {
      if(this.id){
        ApiService.findRol(id)
          .then(rol => {
            this.Rol = rol.data;
          })
          .catch(err => {
            console.error(err);
            alert("Hubo un error");
          });
      }
    },
    updateRol() {
      ApiService.updateRol(this.Rol)
        .then(updated => {
          console.log(updated);
          alert("actualizado");
          this.$router.push('/roles')
        })
        .catch(error => {
          console.error(error);
          //alert("hubo un error, mire la consola");
          this.mensaje="No tiene permisos para actualizar el rol";
          this.clase = "danger";
        });
    },
    add(){
      ApiService.addRol(this.Rol).then(()=>{
        this.$router.push('/roles');
      }).catch(error=>{
        console.error(error);
        //alert('Hubo un fallo, mire la consola');
        this.mensaje="No tiene permisos para añadir un rol";
        this.clase="danger";
      })
    }
  },
  mounted() {
    this.getRol(this.id);
  },
  watch: {
    id(newRole) {
      this.getRol(newRole);
    }
  }
};
</script>
<style scoped>
.mensaje {
  position: absolute;
  top: 8%;
  right: 2px;
}
</style>
