<template>
<section class="container">
  <h1 v-if="id" v-text="$ml.get('actualizar')"></h1>
  <h1 v-else v-text="$ml.get('anadir')"></h1>
  <form @submit.prevent="enviar">
      <div class="col-12">
        <label for="nombre" v-text="$ml.get('nombre')"></label>
        <input required type="text" id="nombre" v-model="actualUser.name" class="form-control">
        <label for="email" v-text="$ml.get('email')"></label>
        <input required type="text" id="email" v-model="actualUser.email" class="form-control">
        <label  for="password" v-text="$ml.get('contrasena')"></label>
        <div class="input-group mb-3">
              <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"> -->
              <input  required :type="`${texto}`" id="password" v-model="actualUser.password" class="form-control">
                  <div class="input-group-append">
                     <button class="btn btn-info" type="button"><i class="fa fa-eye" @click="mostrarPass(texto)"></i></button>
                  </div>
        </div>
        <label v-if="actualUser.password" for="password" v-text="$ml.get('confirme_contrasena')"></label>
         <div class="input-group mb-3">
              <!-- <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"> -->
             <input v-if="actualUser.password" required :type="`${texto1}`" id="password" v-model="conf_pass"  class="form-control">
                  <div class="input-group-append">
                    <button v-if="actualUser.password" class="btn btn-info" type="button"><i class="fa fa-eye" @click="mostrarPass1(texto1)"></i></button>
                  </div>
        </div>
              <article class="p-4" v-if="id">
                <p v-for="(rol,i) in  allRoles" :key="i">
                  <input type="checkbox" v-model="actualUser.user_role" :value="rol">
                  <span>{{rol.name}}</span>
                </p>
              </article>
         <input v-if="id && matchPassword()" type="submit" :value="$ml.get('actualizar')" class="btn btn-primary">
        <button v-else-if="matchPassword() && conf_pass" id="anadir" type="button" class="btn btn-warning mt-2" @click="anadir"><i class="fa fa-pencil" v-text="$ml.get('anadir')"></i></button>
        <router-link to="/user" class="btn btn-danger" v-text="$ml.get('atras')"></router-link>
      </div>
    </form>
    <Mensaje :clase_alert="clase" class="mensaje" v-if="mensaje && conf_pass" :mensaje="mensaje" @close="closeAlert()"></Mensaje>
</section>
</template>

<script>
import * as ApiService from "../services/ApiService.js";
import { getAllRoles } from "../services/ApiServiceRol.js";
import { store } from "../store/store.js";
import Mensaje from "../components/Mensaje";

export default {
  components: {
    Mensaje
  },
  data() {
    return {
      actualUser: {
        id: 0,
        name: null,
        email: null,
        password: null,
        user_role: null
      },
      allRoles: null,
      mensaje: null,
      clase: "info",
      conf_pass: null,
      texto: "password",
      texto1: "password"
    };
  },

  computed: {
    id() {
      return this.$route.params.id || null;
    }
  },
  methods: {
    mostrarPass(texto) {
      return texto == "password"
        ? (this.texto = "text")
        : (this.texto = "password");
    },
    mostrarPass1(texto) {
      return texto == "password"
        ? (this.texto1 = "text")
        : (this.texto1 = "password");
    },
    matchPassword() {
      let aux = null;
      if (this.actualUser.password === this.conf_pass) {
        this.mensaje = "La contraseña coincide";
        this.clase = "success";
        aux = true;
      } else {
        this.mensaje = "Las contraseñas no coinciden";
        this.clase = "danger";
        aux = false;
      }
      return aux;
    },
    closeAlert() {
      this.mensaje = null;
    },
    getUser(id) {
      if (id) {
        ApiService.findUser(id)
          .then(user => {
            console.log(user.data);
            this.actualUser = user.data;
            this.actualUser.password = null;
          })
          .catch(error => {
            console.error(error);
            alert("algo ha fallado");
          });
      }
    },
    enviar() {
      console.log("enviar");
      if (this.actualUser.password == null) {
        // Si password es igual a null ewntcs coge el password de la cookie
        let p = JSON.parse(document.cookie);
        this.actualUser.password = p.password;
      }
      ApiService.updateUser(this.actualUser)
        .then(res => {
          this.$router.push("/user");
        })
        .catch(err => {
          //alert("Sucedio un error, mire la consola");
          console.error(err);
          this.mensaje = "No tiene permisos para actualizar";
          this.clase = "danger";
        });
    },
    anadir() {
      console.log("añadir");
      ApiService.addUser(this.actualUser)
        .then(res => {
          alert("todo correcto");
          this.$router.push("/user");
        })
        .catch(err => {
          console.error(err);
          //alert("Sucedio un error, mire la consola");
          this.mensaje = "No tiene permisos para añadir";
          this.clase = "danger";
        });
    }
  },
  mounted() {
    this.getUser(this.id);
    getAllRoles()
      .then(roles => {
        console.log(roles);
        this.allRoles = roles.data;
      })
      .catch(error => {
        console.error(error);
        alert("hubo un error");
      });
  },
  watch: {
    id(newId) {
      this.getUser(newId);
    }
  }
};
</script>

<style scoped>
.mensaje {
  position: absolute;
  top: 15%;
  right: 2px;
}
</style>
